html,
body {
  overflow-x: hidden;
}
/* shared styles */
.flex {
  display: flex;
}
/* shared color */
.bg-color {
  background: rgba(255, 144, 14, 0.1);
}
.text-primary {
  color: #ff900e;
}
.text-light-gray {
  color: #727272;
}
/* navbar section */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.navbar h3 {
  font-size: 2.8rem;
  font-weight: 700;
}
.nav-links li {
  list-style: none;
  padding: 20px;
}
.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
/* banner section */
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content h1 {
  font-size: 4rem;
  font-weight: 700;
}
.banner-content p {
  font-size: 1rem;
  font-weight: 400;
}
.prime-btn {
  border-radius: 8px;
  width: 180px;
  height: 64px;
  background: rgb(255, 144, 14);
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 600;
}
.banner-img {
  width: 100%;
}
/* feature section */
main {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 85px;
}
.feature-content {
  justify-content: center;
  align-items: center;
}
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.feature-description {
  margin-left: 76px;
}
.feature-description p {
  font-size: 1rem;
  font-weight: 400;
}
.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
#quick-list {
  font-weight: 500;
}
/* experience section */
.experience-section {
  margin-top: 100px;
}
.experience-container {
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.experience-container h1 {
  font-size: 2.8rem;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  padding: 10px;
}
.experience-container p {
  font-size: 1rem;
  font-weight: 400;
}
.feature-card {
  padding: 20px;
  width: 586px;
  height: 171px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}
.feature-card h4 {
  font-size: 1.25rem;
  font-weight: 600;
}
.feature-card p {
  font-size: 1rem;
  font-weight: 400;
}
.experience-btn {
  color: white;
  padding: 46px 42px;
  background-color: #ff900e;
  border: none;
  border-radius: 10px;
  margin-top: -100px;
  margin-left: -50px;
}
.experience-btn-b {
  font-weight: 700;
  font-size: 4rem;
}
.experience-img {
  max-width: 100%;
}
/* fact-section */
.fact-section {
  margin-top: 160px;
}

.fact-content h3 {
  font-size: 45px;
  font-weight: 700;
}
.fact-content p {
  font-size: 16px;
  font-weight: 400;
}
.fact-images {
  margin-top: 100px;
  justify-content: space-around;
  margin-bottom: 180px;
}
.fact-icons {
  width: 200px;
  height: 180px;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  text-align: center;
  padding-top: 50px;
}
.fact-icons h4 {
  margin: 0;
  font-size: 45px;
  font-weight: 600;
}
.fact-icons h5 {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #727272;
}

/* responsive section */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .feature-content,
  .experience-container,
  .fact-images {
    flex-direction: column;
  }
  .feature-images {
    grid-template-columns: 1fr;
  }
  .feature-description {
    margin-left: 50px;
    justify-content: center;
  }
  .experience-btn {
    margin: 0;
    margin-left: 15px;
  }
  .feature-card {
    width: 90%;
  }
  .fact-images {
    align-items: center;
    gap: 20px;
  }
  .fact-content {
    text-align: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
}
